# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.env
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Reports / temp artifacts
reports/
scripts/_models/
